// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
   height: 100%;
   @include mat.theme((color: (primary: mat.$azure-palette,
            tertiary: mat.$blue-palette,
         ),
         typography: Roboto,
         density: 0,
      ));
}

body {
   // Default the application to a light color theme. This can be changed to
   // `dark` to enable the dark color theme, or to `light dark` to defer to the
   // user's system settings.
   color-scheme: light;

   // Set a default background, font and text colors for the application using
   // Angular Material's system-level CSS variables. Learn more about these
   // variables at https://material.angular.dev/guide/system-variables
   background-color: var(--mat-sys-surface);
   color: var(--mat-sys-on-surface);
   font: var(--mat-sys-body-medium);

   // Reset the user agent margin.
   margin: 0;
   height: 100%;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

// ==========================================================================
// PALETA DE COLORES
// ==========================================================================

// 1. Escala de Verdes (Base)
$green-1: #e9f5db;
$green-2: #cfe1b9;
$green-3: #b5c99a;
$green-4: #97a97c;
$green-5: #87986a;
$green-6: #718355;
$green-7: #354024;

// 2. Tonos Tierra (Base)
$earth-1: #E5D7C4;
$earth-2: #CFBB99;
$earth-9: #4C3D19;
$earth-1: #e5d7c4;
$earth-2: #cfbb99;
$earth-9: #4c3d19;