// Variables globales del proyecto
// Verdes
$green-1: #E9F5DB;
$green-2: #CFE1B9;
$green-3: #B5C99A;
$green-4: #97A97C;
$green-5: #87986A;
$green-6: #718355;
$green-7: #354024;

// Tonos tierra
$earth-1: #E5D7C4;
$earth-2: #CFBB99;
$earth-9: #4C3D19;