// ==========================================================================
// PALETA DE COLORES
// ==========================================================================

// 1. Escala de Verdes (Base)
$green-1: #e9f5db;
$green-2: #cfe1b9;
$green-3: #b5c99a;
$green-4: #97a97c;
$green-5: #87986a;
$green-6: #718355;
$green-7: #354024;

// 2. Tonos Tierra (Base)
$earth-1: #e5d7c4;
$earth-2: #cfbb99;
$earth-9: #4c3d19;
