<nav class="navbar">
  <a routerLink="/inicio" routerLinkActive="active">
    <div class="icon-wrap">
      <ion-icon name="home-outline"></ion-icon>
      <span class="label">Inicio</span>
    </div>
  </a>

  <a routerLink="/plantas" routerLinkActive="active">
    <div class="icon-wrap">
      <ion-icon name="leaf-outline"></ion-icon>
      <span class="label">Plantas</span>
    </div>
  </a>

  <a routerLink="/recetas" routerLinkActive="active">
    <div class="icon-wrap">
      <ion-icon name="restaurant-outline"></ion-icon>
      <span class="label">Recetas</span>
    </div>
  </a>

  <a routerLink="/comunidad" routerLinkActive="active">
    <div class="icon-wrap">
      <ion-icon name="people-outline"></ion-icon>
      <span class="label">Comunidad</span>
    </div>
  </a>
</nav>
