@import '../styles/variables';

.user-fab {
  position: fixed;
  top: 14px;
  right: 16px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  color: $green-7;
  text-decoration: none;

  svg {
    width: 26px;
    height: 26px;
  }

  &:hover { color: $green-6; }
}
