@use 'styles/variables' as *;

:host {
  display: block;
  width: 100%;
  overflow-x: hidden;
}

.user-fab {
  position: fixed;
  top: 14px;
  right: 16px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $green-3;
  color: $green-7;
  text-decoration: none;

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover { color: $green-6; }
}

.chat-fab {
  position: fixed;
  top: 14px;
  right: 64px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $green-3;
  color: $green-7;
  border: none;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover { color: $green-6; }
}
